ipykernel
datasets
tqdm
pandas
numpy
matplotlib
seaborn
spacy
swifter
scispacy==0.5.4
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz
torch 
transformers 
seqeval
accelerate
bitsandbytes
hf_xet
chromadb
sentence-transformers
fastapi 
pydantic 
uvicorn[standard]
WordCloud